.transaction-entry input{
  width: 100%;
  border-width: 0;
  border-bottom-width: 1px;
  background: none;

  border-radius: 0px;
}

.transaction-entry{
  background: gray;
  margin: 15px 5px;
}
.transaction-entry {
  background: #fafafa;
  margin: 5px 0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.12);
  border-bottom-width: 1px;
}

.transaction-header{
  margin: 5px 0px;
}